html {
  font-family: Arial, sans-serif;
}

.menubar {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  text-align: center;
}

.centered-element {
  margin: auto;
  text-align: center;
}

ul { display:table; margin:0 auto;}

a {
  margin-left: 80px;
  margin-right: 80px;
}

img {
  position: relative;
  margin: 10px;
}

input, button { margin-bottom: 10px; }

#messages-list-div {
  width: 80%;
  text-align: inherit;
}

#submitButton {
  background-color: green;
}

#clearButton {
  background-color: red;
}

#printButton {
  background-color: yellow;
}

#deleteButton {
  background-color: #5DBCD2;
}
