li {
  text-align: left;
  margin: 5px;
}

.hidden .body {
  color: blue;
  text-decoration: underline;
}

.shown {
  color: magenta;
}

button {
  margin: 5px;
}

button.delete {
  background-color: red;
}

button.detail {
  background-color: teal;
}

button.edit {
  background-color: orange;
}

button.submit {
  background-color: green;
}
